<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>




<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : asset_path('elephant-on-turtle.jpg') %>)">
  <h1><%= @list.name %></h1>
</div>

<% @list.movies.each do |movie| %>
  <h2><%= movie.title %></h2>
  <p><%= movie.overview %></p>
  <p><%= movie.rating %></p>
  <img src="<%= movie.poster_url %>" alt="">
  <hr>
<% end %>
  <br><br><br>
<%= link_to "add movie", new_list_bookmark_path(@list.id), class: "btn btn-primary"%>

<br><br><br>

<%= link_to "delete this list", list_path(@list), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>

<br><br><br>

<%= link_to "home", root_path, class: "btn btn-secondary"%>
